@charset "utf-8";

h1 {
text-align: center;
padding: 20px;
}
.edit {
width: 700px;
border: 1px solid white;
background-color: rgb(194, 233, 202);
}
.col_title {
padding: 15px;
width: 100px;
border: 7px solid white;
}
.col_writer {
padding: 15px;
width: 100px;
border: 7px solid white;
}
.content {
text-align: center;
padding: 15px;
height: 200px;
}