<!doctype html>
<html>
<head>
  <title>WEB</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <center>
  <br/><br/><br/><br/><br/><br/><br/>
  <h1><a href="/">WEB</a></h1>
  <ul>
  <form action = "http://localhost:3000/login_action" method = "post">
    <div class="form-group">
    <p><input type="text" name="id" value="" placeholder = "intput ID"></p>
    </div>
    <div class="form-group">
    <p><input type="text" name="pw" value="" placeholder = "intput PW"></p>
    </div>
    <p>
      <input type ="submit" class = "btn-primary active" value = "SignIn">
      <input type ="button" class = "btn-primary active" value = "SignUp" onclick="location.href='http://localhost:3000/signup'">
    </p>
  </form>
  </ul>
  <h2></h2>
  <p></p>
</center>
</body>
</html>
