<!doctype html>
<html>
<head>
  <title>BOARD</title>
  <meta charset="utf-8">
</head>

<style>

</style>

<body>
    <h1 style="text-align: center">로그인</h1>

    <form action="/login" method="post">
        ID  <input type="text" name="id"><br><br>
        Password  <input type="password" name="pwd" maxlength="20"> <br><br>
        <input type="submit" value="Login">
    </form><br>

    <!--TODO 회원가입으로 리다이렉트 안됨-->
    <a href="register.ejs">회원가입</a>
</body>
</html>
