<!doctype html>
<html>
<head>
  <title>BOARD</title>
  <meta charset="utf-8">
</head>

<style>
.phone {
    width: 50px;
}
</style>

<body>
    <h1 style="text-align: center">회원가입</h1>

    <form action="/register" method="post">
        ID  <input type="text" name="id" maxlength="20"><br><br>
        <!-- TODO 아이디 중복 확인 -->

        Password  <input type="password" name="pwd" maxlength="20"> <br><br>
        <!-- TODO 회원가입 시 비밀번호 두 번 입력으로 확인 필요-->

        Name  <input type="text" name="name"><br><br>
        Phone  <input type="text" class="phone" name="phone0" maxlength="3"> - <input type="text" class="phone" name="phone1" maxlength="4"> - <input type="text" class="phone" name="phone2" maxlength="4"><br><br>
        <input type="submit" value="Sign in">
    </form>
</body>
</html>
