<!doctype html>
<html>
<head>
  <title>BOARD</title>
  <meta charset="utf-8">
</head>

<style>

</style>

<body>
    <h1 style="text-align: center">회원가입</h1>

    <form action="/register" method="get">
        ID  <input type="text" name="id"><br><br>
        Password  <input type="password" name="pwd" maxlength="20"> <br><br>
        <input type="submit" value="Sign in">
    </form>
</body>
</html>
