<!doctype html>
<html>
<head>
  <title>BOARD</title>
  <meta charset="utf-8">
</head>

<style>
.content {
    width: 200px;
    height: 100px;
}
</style>

<body>
    <h1 style="text-align: center">글 수정</h1>

    <form action="/board/content/update" method="get">
        ID  <input type="text" name="id" value=<%= me %> readonly="readonly" /><br><br>
        Title  <input type="text" name="title" value=<%= data.title %>><br><br>
        Content<br>
        <textarea name="content" class="content" cols="40" rows="4" >
            <%= data.content; %>
        </textarea><br><br>
        <input type="hidden" name=idx value="<%= data.idx %>">
        <input type="submit" value="Complete">
    </form>
</body>
</html>
