a.title:link {text-decoration: none; color:#646464}
a.title:visited {text-decoration: none; color:#646464}
a.title:active {text-decoration: none; color:#646464}
a.title:hover {text-decoration: none; color:#646464}
