form(method="post" action="/list")
    table 
        tr
            td Username 
            td 
                input(type="text" name="username")
        tr 
            td title 
            td 
                input(type="text" name="title")
        tr 
            td
            td viwes
                input(type="number" value="views")
        tr
            td date
            td
                input(type="date" value="date")