extends layout

mixin message(opp, name)
    if(opp)
        h1.greeting welcome board
            span=name 



append links 
    li(style="float: right;")
        a(href="/loggout") Loggout 
    
block content
    .dashboard 
        .user 
            +message(opp, name)
    .register-panel 
        include includes/writing-form
