<html>

<head>
    <title>gallery</title>
    <meta charset="utf-8">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
    
    <!-- Custom styles for this template -->
    <link href="/css/mycss.css" rel="stylesheet" type="text/css">
    <link href="/css/edit.css" rel="stylesheet" type="text/css">
</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8">
                <!-- Title -->
                <header><% include ./header %></header>
        
                <hr>
                
                <form action='/edit/post_up' method='POST' enctype='multipart/form-data'>
                    <!-- Preview Image -->
                    <div class="filebox bs3-primary">
                        <label for="ex_file">사진 선택</label>
                        <input type="file" id="ex_file" name="img"> 
                    </div>
                    <img class="img-fluid rounded" id="image_section" src="/select_image.png" alt="your image">
            
                    <hr>
        
                    <!-- Post Content -->
                    <div class="form-group">
                        <textarea class="form-control" rows="3" name="content"></textarea>
                    </div>
                    <div class="btn_right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    
    </div>
    <!-- /.container -->
</body>

<script>
// preview image
document.getElementById("ex_file").onchange = function () {
    var reader = new FileReader();

    reader.onload = function (e) {
        // get loaded data and render thumbnail.
        document.getElementById("image_section").src = e.target.result;
    };

    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
};
</script>
</html>
