<html>

<head>
  <title>gallery</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  
  <!-- Custom styles for this template -->
  <link href="/css/mycss.css" rel="stylesheet" type="text/css">
  <link href="/css/index.css" rel="stylesheet" type="text/css">

  <!-- 무한 스크롤을 위해 JQuery 이용 -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
</head>

<style>
.order {
  margin-bottom: 5px;
}
</style>

<body onload="resizeAllGridItems()">

  <!-- Page Content -->
  <div class="container">
        
    <header><% include ./header %></header>
    <hr class="mb-4">
    
    <!--TODO 리스트처럼 시간순이 선택되면 추천순은 선택안되고 하는 시스템. 선택된 것은 글씨 굵게.-->
    <!--
    <div class="order font-weight-light">
      <b><</b> <a href="#">시간 순 </a>&nbsp;&nbsp;
      <a href="#">추천 순 </a> <b>></b>
    </div>
    -->

    <div class="row text-center text-lg-left" id="images">

      <!-- DB에 저장된 게시글 출력 -->
      <% post.forEach(function(item) { %>
      <div class="col-lg-3 col-md-4 col-6">
        <a href="/post/<%= item.idx%>" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="/<%= item.img_path %>" alt="">
        </a>
      </div>
      <% }); %>
      
    </div>
    <!-- /.row -->

    <button type="button" class="morePost">more</button>
  </div>
  <!-- /.container -->

</body>
</html>