<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Minostagram - Post</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
  
  <!-- Custom styles for this template -->
  <link href="/css/blog-post.css" rel="stylesheet" type="text/css">
  
</head>

<body>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
          <a class="title" href="/">Minostagram</a>
        </h1>

        <hr>

        <!-- Date/Time -->
        <p class="lead">Posted by
          <a href="#"><%= post.writer %></a><br>
          <%= post.upTime %>
        </p>

        <hr>

        <!-- Preview Image http://placehold.it/900x300-->
        <img class="img-fluid rounded" src="/<%=post.img_path %>" alt="">

        <hr>
        
        <!-- Post Content -->
        <p class="lead" id="content">
          <%- post.content.replace(/\r\n/g, "<br>") %>
        </p>
        <hr>

        <!-- Comments Form -->


        <div class="card my-4">
          <h5 class="card-header">댓글쓰기</h5>
          <div class="card-body">
            <form action="#">
              <div class="form-group">
                <textarea class="form-control" rows="2"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">댓글 글쓴이</h5>
            댓글 댓글 댓글
          </div>
        </div>

      </div>
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</body>

<!-- Bootstrap core JavaScript -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</html>