<!doctype html>
<html>
<head>
  <title>gallery</title>
  <meta charset="utf-8">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" >
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    
  <!-- Custom styles for this template -->
  <link href="/css/register.css" rel="stylesheet" type="text/css">
  <link href="/css/mycss.css" rel="stylesheet" type="text/css">
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    
    function input_check() {
        if (register.id.value == "") {
            alert("아이디를 입력해 주세요.");
            return false;
        }
        else if (register.pwd.value == "") {
            alert("비밀번호를 입력해 주세요.");
            return false;
        }
        else if (register.name.value == "") {
            alert("이름을 입력해 주세요.");
            return false;
        }
        else if (register.phone0.value == "" || register.phone1.value == "" || register.phone2.value == "") {
            alert("전화번호를 입력해 주세요.");
            return false;
        }
        else if (register.pwd.value != register.pwd_check.value) {
            alert("비밀번호가 다릅니다.");
            return false;
        }
        else if (id_dupCheck() == false) {
            alert("이미 존재하는 아이디 입니다.");
            return false;
        }
        
        else return true;
    }

    function id_dupCheck() {
        $.ajax({
            url: "/register/dupCheck/" + $('#input_id').val(),
            success: function (data) {
                console.log('data:', data)

                if (data == 'ok') return true;
                else return false;
            }
        });
    }
</script>

<style>
.dupCheck {
    font-size: 9pt;
    padding: 5px;
    margin-left: 10px;
}
</style>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="col-lg-5">
            <header>
                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">
                    <a class="title" href="/">Neat Gallery</a>
                </h1>
            </header>

            <div class="card my-4">
                <h5 class="card-header">회원가입</h5>
                <div class="card-body">

                    <form action="/register" name="register" method="post" onsubmit="return input_check()">
                        <table align="center">
                            <tr class="table_row">
                                <td class="col">ID</td>
                                <td style="text-align: left;">
                                    <input type="text" name="id" maxlength="20" class="input_text" id="input_id">
                                </td>
                            </tr>
                            <tr class="table_row">
                                <td class="col">PW</td>
                                <td style="text-align: left;"><input type="password" name="pwd" maxlength="20" class="input_text"></td>
                            </tr>
                            <tr class="table_row">
                                <td class="col">PW Check</td>
                                <td style="text-align: left;"><input type="password" name="pwd_check" maxlength="20" class="input_text"></td>
                            </tr>
                            <tr>
                                <td><br/</td>
                            </tr>
                            <tr class="table_row">
                                <td class="col">Name</td>
                                <td style="text-align: left;"><input type="text" name="name" class="input_text"></td>
                            </tr>
                            <tr class="table_row">
                                <td class="col">Phone</td>
                                <td style="text-align: left;"><input type="text" class="phone" name="phone0" maxlength="3"> - <input type="text" class="phone" name="phone1" maxlength="4"> - <input type="text" class="phone" name="phone2" maxlength="4"></td>
                            </tr>
                            <tr class="table_row">
                                <td colspan="2">
                                    <button type="submit" class="btn btn-primary" style="margin-top: 20px">Sign up</button>
                                </td>
                            </tr>
                        </table>
                    </form>

                </div>
            </div>
        </div>

    </div>
    <!-- end container -->
</body>
</html>
