<!DOCTYPE html>
<html lang="en">
<head>
<title>물품관리</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<h2>계정수정</h2>
<form method="POST" action="/edit/<%= data.id %>">

<div class="form-group">
<label for="name">비밀번호:</label>
<input type="text" class="form-control" id="pwd" name= "pwd" value = "<%= data.pwd %>">
</div>

<button type="submit" class="btn btn-success">수정하기</button>
</div>
</form>

</body>
</html>
