<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>board</title>
    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/bootstrap-grid.css">
    <link rel="stylesheet" href="../../css/bootstrap-reboot.css">
</head>

<form name="form1" action='/board1/save' method="post">
    <table class="table table-bordered">
        <colgroup>
            <col width='10%' />
            <col width='*%' />
        </colgroup>
        <tbody>
        <tr>
            <td class="text-center">작성자</td>
            <td><%=session_name%></td>
        </tr>
        <tr>
            <td class="text-center">제목</td>
            <td><input type="text" name="post_title" size="70" maxlength="250" value="<%=row.post_title%>"></td>
        </tr>
        <tr>
            <td class="text-center">내용</td>
            <td><textarea name="post_content" rows="5" cols="60"><%=row.post_content%></textarea></td>
        </tr>
        </tbody>
    </table>

    <div class="btn-group float-right" role="group" aria-label="post_btn_group">
        <button type="button" class="btn btn-dark" onclick="history.back(-1)">취소</button>
        <button type="button" class="btn btn-dark" onclick="form1.submit()">저장</button>
    </div>
    <!--
    <a class="btn btn-dark" href="#" onclick="form1.submit()">저장</a>
    <a class="btn btn-dark" href="#" onclick="history.back(-1)">취소</a>
    -->
</form>
</body>
</html>