-var boardlist = board
div
  table(border="1")
   thead
     th(style="width:10%") id
     th(style="width:10%") title
     th(style="width:10%") content

     th(style="width:15%") date


   tbody
     each board in boards
       tr
         td=board.username 
         td=board.title
         td=board.content 
         
         td=board.date
