form(method="post" action="/write")
    table 
        tr
            td Username 
            td 
                input(type="text" name="username")
        tr 
            td Title 
            td 
                input(type="text" name="title")
        tr 
            td content
            td 
                input(type="text" name="content")
        tr 
            td date 
            td 
                input(type="date" name="date")
        tr 
            td
            td
                input(type="submit" value="작성")