-var chartlist = info
div
  table.table.table-hover
   thead
     tr: th chartlist
     th(scope='cols' style="width:10%") category
     th(scope='cols' style="width:10%") price

   tbody
     each info in charts
       tr
         td=info.category
         td=info.ss
