form(method="post" action="/edit-writing/"+num)
    table 
        tr 
            td Title 
            td 
                input(type="text" name="title" style="width:500px;")
        tr 
            td Content
            td 
                input(type="text" name="content" style="width:700px; height:500px;")
        tr 
            td 글번호
            td 
                input(type="text" name="number")
        tr 
            td
            td
                input(type="submit" value="수정")