nav 
    ul 
        block links
        li 
            a(href="/") Home
        li
            a(href="/board") 게시판
        li
            a(href="/info") 가계부
        li
            a(href="/upload") PHOTO