-var boardlist = board
div
  li 게시판
  table.table.table-condensed
   thead
     tr
     th(scope='cols' style="width:10%") ID
     th(scope='cols' style="width:10%") 제목
     
     th(scope='cols' style="width:10%") 날짜
     th(scope='cols' style="width:3%") 수정
     th(scope='cols' style="width:3%") 삭제

   tbody
    
     each board in boards
       tr
         td=board.username 
         td
            a(href ='/board/'+board.num) #{board.title}

         td=board.date
         td
            a(href='board/edit/'+board.num) 수정
         td
            form(method="post" action="/board/delete/"+board.num)
                input(type="submit" value="삭제")

         
