form(method="post" action="/mypaging")
    table 
        tr
            td username
            td 
                input(type="text" name="username" placeholder='수정가능' )
        tr 
            td Fullname
            td 
                input(type="text" name="fullname" placeholder='수정가능')
        tr 
            td  Password
            td 
                input(type="password" name="password" value="수정 가능")

        tr 
            td
            td
                input(type="submit" value="정보수정")