-var sumlist = sum
div
  img(src="img/file.jpeg" width="60" style="float: left;")
  table(border="1")
   thead
     
     th(style="width:10%") 지출 총액
     th(style="width:10%") 수입 총액

   tbody
     each sum in sums
       tr
         td=sum.one
         td=sum.two
