form(method="post" action="/writing")
    table 
        tr
            td Id
            td 
                input(type="text" name="id" )
        tr 
            td Title 
            td 
                input(type="text" name="title")
        tr 
            td Content
            td 
                input(type="text" name="content")
        tr 
            td Date 
            td 
                input(type="date" name="date")
        tr 
            td
            td
                input(type="submit" value="작성")